@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

html,
body {
  margin: 0;
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 100vw !important;
  height: 100vh;
  background-color: #282744;
  font-family: Tangerine;
  font-size: 5mm;
  font-weight: bold;
}

.container-element {
  border: 10px ridge #635fa4;
  border-radius: 15px;
}

.container-text {
  filter: invert(100%);
  font-size: 7mm;
}

.container-text-alt {
  filter: invert(100%);
  font-size: 7mm;
  @extend .container-text;
  font-family: Redressed;
}

.container-button {
  @extend .container-element;
  width: 100%;
  height: 100%;
  border-width: 5px;
  font-size: 6mm;
  font-weight: bold;
}

.container-select {
  @extend .container-element;
  width: 100%;
  height: 100%;
  border-width: 5px;
  font-size: 5mm;
  font-weight: bold;
  background-color: #3d454d;
  color: white;
}

.subcontainer {
  @extend .container-element;
  border-width: 20px;
}

.container-text-input {
  @extend .container-element;
  border-width: 5px;
  background-color: transparent;
}

.container-scrollable-list {
  @extend .container-element;
  border-width: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container-scrollable-list::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hover-text-base {
  position: relative;
  display: inline-block;
}

.hover-text-base .hover-text {
  visibility: hidden;
  font-size: large;
  font-family: Redressed;
  color: white;
  background-color: black;
  width: fit-content;
  border: 2px solid white;
  border-radius: 30%;
}

.hover-text-base:hover .hover-text {
  visibility: visible;
}
